<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Todays Playlist</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link href="../css/main.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div id="back">
        <img alt="back" src="../images/back.svg" />
    </div>
    <div id="top">
        <a>Home</a>
        <a>Playlists</a>
    </div>
    <div id="content-container">
        <h1>Today's Playlist</h1>
        <h3>Custom playlist designed specifically for your taste</h3>
        <img alt="ego" src="../images/spot.svg" />
        <h4>Powered by Spotify&trade;</h4>
        <button id="connect" type="button">
            <img alt="spot" src="../images\spotify-icons-logos\spotify-icons-logos\icons\01_RGB\02_PNG\Spotify_Icon_RGB_White.png"/>
        Connect With Spotify
        </button>
    </div>
    <div id="go"></div>
    <script src="../js/main.js"></script>
</body>

</html>