@mixin gradient($direction, $start, $end) {
    background-image: linear-gradient($direction, $start, $end);
}

@mixin animate($properties) {
    -moz-animation: $properties;
    -o-animation: $properties;
    -webkit-animation: $properties;
    animation: $properties;
}