@import url("https://use.typekit.net/zyj8kbj.css");

@import "colors";
@import "mixins";
@import "supers";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#top {
    position: absolute;
    top: 0;
    right: 45px;
    line-height: 5rem;
    height: 45px;;

    a {
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
        color: $color-white;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

#back {
    @extend %backs;
    z-index: -1;
    background-repeat: no-repeat;

    img {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transform: scale(1.11);

    }
}

button[type="button"] {
    background: none;
    border-color: $color-white;
    border-radius: 6pt;
    border-width: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: $color-white;
    height: 40px;

    img {
       width:25px !important;
       height: 25px !important;
        box-shadow:none !important;
        margin-top:-5px !important;
    }
}

#content-container {
    text-align: center;
    margin-top: 10%;

    h1 {
        font-family: upgrade, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $color-white;
        font-size: 45px;
    }

    h3,
    h4 {
        font-family: upgrade-lights, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $color-white;
        font-size: 20px;
    }

    h4 {
        margin-top: 20px;
        font-size: 15px;
    }

    img {
        margin-top: 15px;
        width: 45%;
        height: 55%;
        box-shadow: 3px 3px 15px 4px rgba(0, 0, 0, 0.6);
    }
}
